#banner {
    background: WhiteSmoke;
    font-size: 1.25rem;
    font-style: italic;
    padding: 0.25rem;
    width: 100%;
}

body {
    font-family: "Garamond", serif;
}

#listener {
    border: 1px solid Gainsboro;
    padding: 0.25rem;
    width: 100%;
}

.listener-input {
    font-family: "Courier New", monospace;
    font-weight: 600;
    width: calc(100% - 12rem);
}

.listener-output {
    font-family: "Courier New", monospace;
    font-weight: 300;
    width: calc(100% - 12rem);
}

#prompt {
    font-family: "Courier New", monospace;
    font-weight: 600;
}

#worksheet {
    padding: 0.25rem;
}
